/* .filter-section {
  transition: all 0.3s ease;
  border-radius: 10px;
}

.filter-section h5 {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.filter-section .ant-checkbox-wrapper,
.filter-section .ant-radio-wrapper {
  font-size: 0.95rem;
}

@media (max-width: 768px) {
  .filter-section {
    margin-bottom: 1rem;
  }
} */
